
<div class="Sender" class="card">
<form class="form-group"
  action="https://formspree.io/myynngwv"
  method ="POST"
  #declarativeForm="ngForm"
>
<div class="card-body"><label>
  <h1 class="card-header">Наша рассылка</h1>
    Your email:
    <input type="email" [(ngModel)]="email"  name="_replyto" class="form-control">
  </label></div>
  <div class="card-body"><label><br>
    Your message:
    <textarea name="message"class="form-control" readonly>Вы подписались на рассылку</textarea> 
  </label></div>
  <button type="submit" id="btn"(click)="Check()">Send</button>
</form>
</div>
