<div class="about">



<h1>О сайте</h1>
<img src="assets/graepProg.PNG">
<h5>
    GrapeProg , предназначен для сообщества программистов и смежных специалистов.<br>
Этот сайт является площадкой для общения, предложений работодателей, обмена информацией, проведения конференций, представления обучающих платформ, стартапов.<br>
Считаю, что при развитии этой идеи можно добиться следующих результатов:
<li>сформировать общественное объединение молодых специалистов в области IT</li>
<li>осуществлять повышение уровня знаний программистов различными способами (добиться синергетического эффекта)</li>
<li>привлечь высшие учебные заведения и учебные центры для поддержки и полезного обмена информацией</li>
<li>создать среду комфортного неформального общения</li>
<li>привлечь работодателей для начинающих специалистов.
</li><br>
Возможны необычные фичи.<br>
Теперь о сайте. Он прост. Написан на Angular8.<br>
Название идет от целей сайта.<br>
Содержит блог для размещения информации, чат для общения. Регистрацию можно пройти как через социальные сети, так и автономно.<br> 
При активном участии в проекте, вижу большие перспективы.<br>
Добро пожаловать с идеями и участием!<br> 
<b>Чем нас больше, тем мы сильнее.</b>
</h5> 
Контакты:<a href="mailto:v.ivahnenko@outlook.com" style="color:blueviolet; padding: 10px;"> v.ivahnenko@outlook.com</a>
</div>


