#ca{
    display: flex;
    padding-top: 2%;
}
#tt{
    border-radius: 5px;
}
#cat{
    color:white;
    font-size: large;
    background-color: blueviolet;
    border-radius: 7px;
    width: 160px;
    text-align: center;
}
#cont{
    font-size: medium;
    color: rgb(41, 17, 63);
}
#TheBox{
    width: 100%;
    height: 700px;
    overflow: scroll;
}
.arts{
    width:auto;
    height:auto;
    image-orientation: initial;
}